packer_cache/
output-*/
priv/
vendor/
.vagrant/
.kitchen/
.srl/
*.box
*.iso
*.env
*.ova
*.rli
*.crt
*.csr
*.key
*.srl

.terraform
.terraform.lock.hcl
*.tfstate*

Gemfile.lock
.ruby-version
.DS_Store

cert/
tfe/
